---
layout:           default
---

{{ content }}



<div class="index-content">
  <div class="section">
    <hr>
	<p>This is not a <a href="https://en.wikipedia.org/wiki/Cauchy_surface" target="_blank">Cauchy surface</a>, but you still got here.<br/>
				“你从远方来，我到远方去，遥远的路程经过这里。”</p>

    <iframe src="/audios/music.html" frameborder="0" scrolling="no"> </iframe>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        function animateBar($item,noAni){
            var spanLeft = $item.find('span').offset().left;
            var conLeft = $item.parent().offset().left;
            var left = spanLeft - conLeft;
            var width = $item.find('span').width() + 8;

            if(noAni){
                $('#cateBar').css({left:left,width:width})
            }else{
                $('#cateBar').stop().animate({left:left,width:width},300)
            }
        }

        var waitForFinalEvent = (function () {
            var timers = {};
            return function (callback, ms, uniqueId) {
                if (!uniqueId) {
                    uniqueId = "Don't call this twice without a uniqueId";
                }
                if (timers[uniqueId]) {
                    clearTimeout (timers[uniqueId]);
                }
                timers[uniqueId] = setTimeout(callback, ms);
            };
        })();

        $('.artical-cate li').mouseenter(function(){
            animateBar($(this));
        }).mouseleave(function(){
            animateBar($('.artical-cate .on'));
        });

        $(window).resize(function(e){
            waitForFinalEvent(function(){
                animateBar($('.artical-cate .on'));
            })
        })
        animateBar($('.artical-cate .on'),true);
    });
</script>
